* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
}

body {
	background-color: #253654;
}

@-ms-viewport{
  width: device-width;
}
.aboutme {
  background-image: url("./images/portland.jpg");
  background-size: cover;
  padding: 20rem 0;
  text-align: center;
  align-items: center;
}
.portfolio {
	height: auto;
	background-color: #253654;
  	padding-left: 30px;
  	margin-left: auto;
  	margin-right: auto;
}
.contact {
	height: 300px;
	background-color: #878472;
}
.project-lang {
	display: flex;
	justify-content: center;
}
.proj-contain {
	padding-top: 25px;
	padding-bottom: 25px;
}
ul li {
	display: inline;
	color: white;
	font-size: .6rem;
	padding-right: 20px;
}
.language {
	height: 50px;
	width: 50px;
	padding: 5px;
}
.h1 {
	font-size: 4rem;
    font-weight: 300;
	color: white;
}
.h2 {
	font-size: 2rem;
    font-weight: 300;
	color: white;

}
.h3 {
	font-size: 1rem;
    font-weight: 300;
	color: white;
}
.project-description {
	font-size: 1.3rem;
	font-weight: 300;
	color: white;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.title {
	font-size: 2rem;
	font-weight: 300;
	color: #FFF7CC;
	text-align: center;
}
.contactimage {
	height: 50px;
	width: 50px;
	padding: 5px;
}
img {
    width: 100%;
    transition: opacity 0.3s ease-in-out;
}
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {
    	width: 41.66%;

    }
    .col-6 {
    	display: inline-block;
    	width: 57%;
    	}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .h1 {
		font-size: 4rem;
	    font-weight: 300;
		color: white;
	}
	.title {
		font-size: 2rem;
		font-weight: 300;
		color: #FFF7CC;
		text-align: center;
	}
	.h2 {
		font-size: 2rem;
	    font-weight: 300;
		color: white;

	}

	.h3 {
		font-size: 1rem;
	    font-weight: 300;
		color: white;
	}
	.project-description {
		font-size: 1.5rem;
		font-weight: 300;
		color: white;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.left {
		float: left;
	}

	.right {
		float: right;
	}

	.portfolio {
		max-width: 1000px;
	}



}


